<!DOCTYPE html>
<html lang="en">

  <% include partials\head.ejs %>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./">Home</a></li>
            <li><a href="./commands">Chat Commands</a></li>
            <li class="active"><a href="./settings">Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1><%= title %></h1>
        <p class="lead"><%= infoMsg %></p>

        <!--  FORM TO EDIT CHAT COMMANDS  -->
        <form action="/commands" method="post">
        <div class="input-group">
          <div class="col-xs-10">
          <span class="input-group-addon" id="basic-addon1">Bot Login</span>
          <input type="text" id="login" name="login" class="form-control" value="<%= login %>" aria-describedby="basic-addon1">
          <span class="input-group-addon" id="basic-addon1">Bot Password</span>
          <input type="password" id="password" name="password" class="form-control" value="<%= password %>" aria-describedby="basic-addon1">
          <span class="input-group-addon" id="basic-addon1">Channel To Mod</span>
          <input type="text" id="channel" name="channel" class="form-control" value="<%= channel %>" aria-describedby="basic-addon1">
          <button type="submit" id="poke" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>

      </div>

    </div><!-- /.container -->

    <% include partials\jsincludes.ejs %>
  </body>
</html>
